/***********************
HEADER
***********************/

header {
    border-bottom: 5px solid #DD506B;
    background: white;
}

// Logo of the website
img.title {
	float: left;
    width: 100px;
}

// Menu button on mobile devices
a.navbar-toggle{
	display: block;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
	padding: 5px 10px;
	background-color: transparent;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	cursor: pointer;
	font-size: 1em;
	color: #929497;
	text-decoration: none;
	text-transform: uppercase;
}

nav {
	display: none;
    float: right;
    width: 100%;
    ul {
	    margin: 0;
	    padding: 0;
	    list-style-type: none;
	    li {
	    	border-bottom: solid 1px #eee;
	    }
	}
	a {
	    display: block;
	    padding: 25px 0;

	    text-align: center;
	    text-decoration: none;
	    text-transform: uppercase;
	    font-size: 1.2em;
	    font-weight: 300;
	    color: #929497;
	}
}


/***********************
HEADER
min-width: 1024px
***********************/
@media only screen and (min-width: 1024px) {
	a.navbar-toggle{
		display: none;
	}
	nav {
		display: block !important;
		width: 88%;
		a {
	        float: left;
	        width: 10%;
	        margin: 0;
	        padding: 15px 0.3%;
	        font-size: 0.8em;
	    	font-weight: 400;
	    }
	   	&:hover {
	    	color: #929497;
	    	text-decoration: none;
	    }
	    &:visited {
	    	color: #929497;
	    }
	    li:first-child a {
	        margin-left: 0;
	    }
	    li:last-child a {
	        margin-right: 0;
	    }
	}

	// IE Fixes
    nav ul li {
        display: inline;
    }
    .oldie nav a {
        margin: 0 0.7%;
    }
}
