/***********************
HELPERS
***********************/

// To center the sections
.container {
    width: 90%;
    margin: 0 auto;
}

// To center the text
.text-center {
    text-align: center;
}

// To clear the floats
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
