/***********************
SECTIONS
***********************/

section {
	padding: 30px 0;
	h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 1.5em;
		line-height: 1.2;
		margin-bottom: 30px;
	}
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 0;
}

#event {
	background: url("../images/bg-lego.jpg") left top no-repeat;
    background-size: cover;
	height: 400px;
	color: white;
	img {
		width: 150px;
	}
	p.date {
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 400;
	}
	h1 {
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		font-weight: 900;
	}
	p.lead {
		text-align: justify;
		font-weight: 300;
		margin-bottom: 20px;
	}
	a.arrow {
		display: none;
	}
	.fa-angle-double-down {
  		color: white;
  		font-size: 3.5em;
  	}
  	#video-filter, #video-container {
  		display: none;
  	}
}

#quotes {
	background-color: #ddd;
	.quote-block {
		vertical-align: top;
		display: inline-block;
		blockquote {
			position: relative;
			background-color: white;
			text-align: justify;
			padding: 10px;
			margin: 0;
			&:after {
				content: "";
			    position: absolute;
			   	top: 100%;
			   	left: 20px;
			   	border-top: 20px solid white;
			   	border-top-color: inherit; 
			   	border-left: 20px solid transparent;
			   	border-right: 20px solid transparent; 
			   	color: white;
			}
		}
	}

}

#intro {
	background-color: white;
	img {
		width: 18%;
		padding: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		border: solid 1px #efefef;
	}
	p {
		text-align: justify;
	}
}

#companies {
	background-color: white;
	.portrait {
		display: inline-block;
		margin-bottom: 30px;
	}
}

#attendees {
	background: url("../images/bg-lego.jpg") left top no-repeat;
    background-size: cover;
	color: white;
	h2 {
		font-weight: 900;
	}
	p {
		text-align: justify;
		margin-bottom: 30px;
	}
}

#movie {
	background-color: white;
	iframe {
		height: 160px;
		width: 100%;
		border: none;
	}
}

#mailing {
	background-color: white;
	input {
		display: block;
		width: 100%;
   		margin: 0 auto 10px;
   		border: none;
	}
	input[type="text"] {
		border: solid 1px #ddd;
		border-radius: 3px;
		padding: 10px 0 10px 5px;
		@include box-sizing(border-box);
	}
	p.terms {
		font-size: 0.8em;
		line-height: 1.5;
		color: #666;
		a {
			text-decoration: none;
			color: blue;
		}
	}
}

/***********************
SECTIONS
min-width: 768px
***********************/
@media only screen and (min-width: 768px) {
	section {
		h2 {
			font-size: 1.9em;
			margin-bottom: 50px;
		}
	}
	#event {
		p.lead {
			font-size: 1.1em;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 80%;
		}
		a.arrow {
			margin-top: 20px;
			display: block;
			position: relative;
			&:focus {
				top: 5px;
			}
		}
	}
	
	#quotes {
		.quote-block {
			width: 32%;
			margin-right: 5px;
		}
	}

	#companies {
		.portrait {
			width: 32%;
		}
	}

	#attendees p {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 80%;
	}

	#movie {
		iframe {
			height: 300px;
			width: 77%;
		}
	}

	#mailing {
		input {
			width: 77%;
		}
	}
}

/***********************
SECTIONS
min-width: 1024px
***********************/
@media only screen and (min-width: 1024px) {
	#event {
		height: 520px;
		position: relative;
		z-index: 1;
		h1 {
			font-size: 3.5em;
		}
		p.lead {
			font-size: 1.5em;
			text-align: center;
		}
		#event-container {
			position: relative;
			z-index: 150;
		}
		#video-filter {
			display: block;
			position: absolute;
	        top:0%;
	        left:0%;
	        height:100%;
	        width:100%;
	        background-color: black;
	        opacity: 0.6;
	        z-index: 100;
		}
		#video-container {
	        display: block;
	        position: absolute;
	        top:0%;
	        left:0%;
	        height:100%;
	        width:100%;
	        overflow: hidden;
	        z-index: 50;
	    }
	}

	#intro {
		img {
			width: 10%;
		}
	}

	#movie {
		iframe {
			height: 300px;
			width: 47%;
		}
	}

	#mailing {
		input {
			width: 47%;
		}
	}
}

/***********************
SECTIONS
min-width: 1200px
***********************/
@media only screen and (min-width: 1200px) {

	#video-container video {
		width: 100%;
	}
}